{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'dashboard/style/music_box.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/jquery"></script>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>MusicBox 2.0</title>
</head>
<body>
    <div class="header">MusicBox</div>
    <div class="version">v2.0</div>
    <div class="sidenav">
        <a href="/configure">Configure</a>
        <a href="/mechanism">View Mechanism</a>
        <a href="/plots">Plot Results</a>
        <a href="/docs">Documentation</a>
    </div>
    <div id="content" class="main">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>