{% load static %}

<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="{% static 'js/main.js' %}"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>MusicBox 2.0</title>
</head>
<body>

    <div id="head"><a class="header" href="/">MusicBox</a></div>
    <div class="version">v2.0</div>
        <div id="content" class="main">
            {% block content %}
            {% endblock %}
        </div>    
    <div class="sidenav" id="sidenav">
        <a class="{% if '/mechanism' in request.path %} current {% endif %}" href="/mechanism">Mechanism</a>
        <a class="{% if '/configure' in request.path %} current {% endif %}" href="/configure">Conditions</a>
        
        {% comment %} <a href="https://github.com/NCAR/music-box/blob/master/README.md" target="_blank">Documentation</a> {% endcomment %}
        <a sidebarButton='true' id="runM" class="{% if '/model' in request.path %} current {% endif %}" ><button>Run Model</button></a>
        

        <img id="logo" src="{% static 'style/logo2.png' %}">
    </div>


</body>
</html>
