{% extends "base.html" %}
{% block content %}

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Getting Started</h1>
      <p class="lead text-muted">
        To get started with MusicBox, you can either start from scratch, load one
        of our example configurations, or load your own configuration file.
      </p>
      <p>
        <a href="/mechanism" class="btn btn-primary btn-ncar-active my-2">Start from scratch</a>
        <button  data-toggle="collapse" id="exampleToggle" data-target="#box1" class="btn btn-primary btn-ncar-active my-2">Select example</button>
        <a id="loadToggle" href="#" class="btn btn-primary btn-ncar-active my-2">Load configuration file</a>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse card card-body example-panel m-2">
            <div>
              <h3>Example 1</h3>
            </div>
            <div>
              description
            </div>
            <a href="/conditions/load-example?example=1" class="btn btn-secondary">Select</a>
          </div>
        </div>
        <div class="col">
          <div class="collapse card card-body example-panel m-2">
            <div>
              <h3>Example 2</h3>
            </div>
            <div>
              description
            </div>
            <a href="/conditions/load-example?example=2" class="btn btn-secondary">Select</a>
          </div>
        </div>
        <div class="col">
          <div class="collapse card card-body example-panel m-2">
            <div>
              <h3>Example 3</h3>
            </div>
            <div>
              description
            </div>
            <a href="/conditions/load-example?example=3" class="btn btn-secondary">Select</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="collapse card card-body load-panel m-2">
            <div>
              <h3>Select configuration Zip file</h3>
            </div>
            <form  enctype="multipart/form-data" method="POST" action="/conditions/config_json">
              {% csrf_token %}
              {{ configFileForm }}
              <button type="submit" class="btn btn-primary m-2">Upload</button>
            </form>
          </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
