{% extends "base.html" %}
{% block content %}

<div id="landing_container">
    <div id="landing_header">Using the MusicBox model</div>
    <div>
        <ul id="landing_list">
            <li>Configure the chemical mechanism for your model run</li>
            <li>Configure the conditions for the environment or upload a configuration file</li>
            <li>Click "Run Model"</li>
            <li>View plots or download results as a file</li>
        </ul>
        <div>
            <a href="/configure"><button id="start_from_scratch">Start configuration</button></a>
        </div>
        <div id="ghublink">
            <a href="https://github.com/NCAR/music-box">View on GitHub</a>
            <a href="https://github.com/NCAR/music-box">View full documentation</a>
        </div>
    </div>
</div>


{% endblock %}