{% extends "base.html" %}
{% block content %}

<div class="navbox">
  <div id="plotnav" class="plotnav">
      <a class="propfam" id="species">Chemical species</a>
      <a class="propfam" id="rates">Reaction rates</a>
      <a class="propfam" id="env">Enviornmental conditions</a>
  </div> 
</div>

<div id=plots_content>
  <div id="plotbar">
  </div> 
  <div id="plot">
    <h3><div id='plotmessage'>Select chemical species, reaction rates, or enviornmental conditions to plot.</div></h3>
  </div>
</div>


{% endblock %}
