{% extends "base.html" %}
{% block content %}

   <div class="navbox">
      <div class="navbar">
         <a href="/configure/options">Model Options</a>
         <a href="/configure/species">Species</a>
         <a href="/configure/init-cond">Initial Conditions</a>
         <a class="selection" href="/configure/evolv-cond">Evolving Conditions</a>
         <a href="/configure/photolysis">Photolysis</a>
         <a id="review" href="/configure/review">Review</a>
      </div>
   </div>
     <div class=confighead>Evolving Conditions</div>


<div class="configbox">
    <h3>Upload File (.txt, .csv):</h3>
          <form method="POST" action="evolv-csv" enctype="multipart/form-data">
            {% csrf_token %}
            {{ csv_field }}
            <button type="submit">Upload</button>
         </form>
</div>
<div id="evolvcontent">
   {% if conditions %}
      <div id="evolvtable"><h3>
         <table>
               {% for condition in conditions %}
                  <tr>
                     {% for item in condition %}
                        <td>{{ item }}</td>
                     {% endfor %}
                  </tr>
               {% endfor %}
         </table>
      </h3></div
   {% endif %}
   {% if linear_combinations %}
      <div id="display-linear-combos"><h3>
         <table>
            <tr><td>Linear Combinations:</td></tr>
            {% for i in linear_combinations %}
               <tr><td>
                  {% for prop in i.0 %}
                     <li> {{prop}} <li>
                  {% endfor %}
                  <li>Scale Factor: {{i.1}}</li>
               </tr></td>
            {% endfor %}
         </table></h3>
      </div>
{% endif %}
</div>



{% endblock %}



