{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="navbar">
        <a href="/configure/options">Model Options</a>
        <a href="/configure/species">Species</a>
        <a href="/configure/init-cond">Initial Conditions</a>
        <a href="/configure/evolv-cond">Evolving Conditions</a>
        <a href="/configure/photolysis">Photolysis</a>
        <a href="/configure/review">Review</a>
     </div>

     <div class=confighead>Box Model Options</div>

     <div class="configbox">
         <div class="configform">
             <form method="post">
                 {% csrf_token %}
                 {{ form|crispy }}
                 <button type="submit">Save</button>
             </form>
         </div>
     </div>



{% endblock %}



