{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="navbox">
        <div class="navbar">
            <a href="/configure/options">Model Options</a>
            <a href="/configure/species">Species</a>
            <a href="/configure/init-cond">Initial Conditions</a>
            <a href="/configure/evolv-cond">Evolving Conditions</a>
            <a class="selection" href="/configure/photolysis">Photolysis</a>
            <a id="review" href="/configure/review">Review</a>
        </div>
    </div>
    
<div class="configbox">
    <h3>Upload Photolysis Rate File (NetCDF)):</h3>
          <form method="POST" action="photo-ncf" enctype="multipart/form-data">
            {% csrf_token %}
            {{ csv_field }}
            <button type="submit">Upload</button>
         </form>

    {% if isUploaded %}
        <div id="photo_file_panel">
            <div id="isFileUploaded"><h3>Photolysis Rate File Uploaded</h3></div>
            <div id='simstartinfo'>
                {% if simstart %}
                    <h3>Simulation start time:</h3>
                    <table>
                    {% for key,value in simstart.items %}
                        <tr>
                            <td><h4>{{ key }}:</h4></td><td><h4>{{ value }}</h4></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    {% endif %}



         <div class="specform">
            <h3 class="columnhead">Configure Photolysis Reactions:</h3>
            <form class="col1" method='POST'>
                <table>
                    <tr>
                        <th>Reaction</th>
                        <th>Initial Value</th>
                    </tr>
                    {% for field in form %}
                       {% if 'r_form' in field.name %}
                           <tr>
                               <td>
                                   {% csrf_token %}
                                   {{ field }}
                               </td>
                       {% endif %}

                       {% if 'init' in field.name %}
                            <td>
                                {% csrf_token %}
                                {{ field }}
                            </td>
                           </tr>
                       {% endif %}
                    {% endfor %}
                </table>
                <button type="submit" >Save</button>
            </form>
        </div>
    
            <button id="newPhoto" type="submit">Add New Reaction</button>
           
       </div>
</div>



{% endblock %}



