{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="navbox">
        <div class="navbar">
            <a href="/configure/options">Model Options</a>
            <a class="selection" href="/configure/species">Species</a>
            <a href="/configure/init-cond">Initial Conditions</a>
            <a href="/configure/evolv-cond">Evolving Conditions</a>
            <a href="/configure/photolysis">Photolysis</a>
            <a href="/configure/review">Review</a>
        </div>
    </div>
    
    <div class="configbox">
        <h3>Upload File (.txt, .csv):</h3>
        <form method="POST" action="species-csv" enctype="multipart/form-data">
            {% csrf_token %}
            {{ csv_field }}
            <button type="submit">Upload</button>
        </form>
     <div class="specform">
         <h3 class="columnhead">Chemical Species:</h3>
         <form class="col1" method='POST'>
                <table>
                    <tr>
                        <th>Formula</th>
                        <th>Intial Value</th>
                        <th>Units</th>
                    </tr>
                    {% for field in form1 %}
                        {% if 'Formula' in field.name %}
                            <tr>
                                <td>
                                    {% csrf_token %}
                                    {{ field }}
                                </td>
                        {% endif %}

                        {% if 'Initial Value' in field.name %}
                            <td>
                                {% csrf_token %}
                                {{ field }}
                            </td>
                        {% endif %}

                        {% if 'Units' in field.name %}
                            <td>
                                {% csrf_token %}
                                {{ field }}
                            </td>
                            <td>
                                <button class="r_button" id="{{ field.name }}">
                                    Remove
                                </button>
                            </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </table>
            <button type="submit" >Save</button>
         </form>
     </div>
    
        <form method="post" action="new-species">
            {% csrf_token %}
            <button type="submit">Add New Species</button>
        </form>
    </div>

{% endblock %}



