{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <div class="navbox pt-2">
    <a class="btn btn-secondary" href="/conditions/options">Model options</a>
    <a class="btn btn-secondary" href="/conditions/initial">Initial</a>
    <a class="btn btn-primary btn-ncar-active" href="/conditions/evolving">Evolving</a>
    <a class="btn btn-secondary" href="/conditions/review">Review</a>
  </div>
</div>
<p class="lead-muted p-2">
  Add paragraph describing this section.
</p>

<div id="container content_container">
   <div class="row configbox">
      <h3>Upload Evolving Conditions File (.txt, .csv):</h3>
            <form method="POST" action="evolv-csv" enctype="multipart/form-data">
               {% csrf_token %}
               {{ csv_field }}
               <button class="btn btn-secondary" type="submit">Upload</button>
            </form>
   </div>
   <div class="row" id="evolvcontent">
      {% if conditions %}
         <div id="evolvtable"><h3>
            <table>
                  {% for condition in conditions %}
                     <tr>
                        {% for part in condition %}
                           <td>{{ part }}</td>
                        {% endfor %}
                     </tr>
                  {% endfor %}
            </table>
         </h3></div>
      {% endif %}
      {% if linear_combinations %}
         <div id="display-linear-combos"><h3>
            <table>
               <tr><td>Linear Combinations:</td></tr>
               {% for i in linear_combinations %}
                  <tr><td>
                     {% for prop in i.0 %}
                        <li> {{prop}} <li>
                     {% endfor %}
                     <li>Scale Factor: {{i.1}}</li>
                  </tr></td>
               {% endfor %}
            </table></h3>
         </div>
      {% endif %}
   </div>

   <div class="row" class="configbox" id="lrUpload">
      <h3>Upload Loss-Rates File (.txt):</h3>
            <form method="POST" action="evolv-lr-txt" enctype="multipart/form-data">
               {% csrf_token %}
               {{ csv_field }}
               <button class="btn btn-secondary" type="submit">Upload</button>
            </form>
   </div>
   {% if is_lr_uploaded %}
      <div id="is_lr_uploaded_panel">
         <h3>Non-standard loss-rate file successfully uploaded</h3>
      </div>
   {% endif %}
   <button class="row btn btn-secondary" id="clearEvolvFiles">Clear configuration files</button>
</div>


{% endblock %}



