{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <div class="navbox pt-2">
    <a class="btn btn-secondary" href="/conditions/options">General</a>
    <a class="btn btn-secondary" href="/conditions/initial">Initial</a>
    <a class="btn btn-primary btn-ncar-active" href="/conditions/evolving">Evolving</a>
    <a class="btn btn-secondary" href="/conditions/review">Review</a>
  </div>
</div>
<p class="lead-muted p-2">
  Load files containing model conditions that change during the simulation. These can be environmental conditions, chemical species concentrations, or rates/rate constants for reactions with a <code>MUSICA name</code>.
</p>
<div id="container-fluid">
  <div class="row m-2">
    <div class="col-12 p-0">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0">Upload File</h4>
        </div>
        <form class="body body-card" method="POST" action="evolving-file" enctype="multipart/form-data">
          <div class="bg-ncar-body p-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  {% csrf_token %}
                  {{ file_field }}
                  <div class="container text-center my-3">
                    <button id="evolvFileSave" class="btn btn-primary m-2" type="submit">Upload</button>
                  </div>
                </div>
                <div class="col-6">
                  <a href="#" class="show-hide-input-file-instructions">Show input file instructions</a>
                  <div class="card">
                    <div class="card-body input-file-instructions" style="display: none">
                      <h5 class="card-title">Input file format</h5>
                      <p class="card-text">Evolving conditions input files can be comma-separated text files or NetCDF files.</p>
                      <p class="card-text">In text files, the variable names should appear on the first line, followed by a single line of data for each time the variable(s) should be updated during the simulation. The first variable should be <code>time</code> and the values of time should be in seconds. (Alternate time units can be used by changing the column name to <code>time.min</code>, <code>time.hr</code>, or <code>time.day</code>.) The remaining variable names should be structured as follows:</p>
                      <p class="card-text text-center"><code>PREFIX.Property Name</code></p>
                      <p class="card-text">The <code>PREFIX</code> indicates what type of property is being set. The property types corresponding to each recognized prefix are described below. The <code>Property Name</code> is the name of the property in the <a href="/mechanism">mechanism</a>. Variable names that are not recognized by MusicBox will be ignored.</p>
                      <p class="card-text">NetCDF files should have a dimension of <code>time</code> and variables whose only dimension is <code>time</code> and whose name follows the pattern described above.</p>
                      <p class="card-text">
                        An example initial conditions file can be downloaded <a href="/conditions/examplefile?type=evolving">here</a>.
                      </p>
                      <div class="accordion" id="accordion-formats">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="concentration-format">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-concentration-format" aria-expanded="true" aria-controls="collapse-concentration-format">
                              <code>CONC</code>: Chemical species concentrations [mol m-3]
                            </button>
                          </h2>
                          <div id="collapse-concentration-format" class="accordion-collapse collapse" aria-labelledby="concentration-format" data-bs-parent="#accordion-formats">
                            <div class="accordion-body">
                              <p>The <code>Property Name</code> for a chemical species concentration should correspond to the name of a <a href="/mechanism/species">chemical species</a> present in the mechanism. The units are assumed to be mol m-3. The initial concentration of a species named "terminal alkenes" should be labelled:</p>
                              <p class="text-center"><code>CONC.terminal alkenes</code></p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="environment-format">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-environment-format" aria-expanded="true" aria-controls="collapse-environment-format">
                              <code>ENV</code>: Environmental conditions
                            </button>
                          </h2>
                          <div id="collapse-environment-format" class="accordion-collapse collapse" aria-labelledby="environment-format" data-bs-parent="#accordion-formats">
                            <div class="accordion-body">
                              <p>The <code>Property Name</code> can be either <code>temperature</code> with values in K, or <code>pressure</code> with values in Pa:</p>
                              <p class="text-center"><code>ENV.temperature</code></p>
                              <p class="text-center"><code>ENV.pressure</code></p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="emission-format">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-emission-format" aria-expanded="true" aria-controls="collapse-emission-format">
                              <code>EMIS</code>: Emission of a chemical species [mol m-3 s-1]
                            </button>
                          </h2>
                          <div id="collapse-emission-format" class="accordion-collapse collapse" aria-labelledby="emission-format" data-bs-parent="#accordion-formats">
                            <div class="accordion-body">
                              <p>The <code>Property Name</code> for a emission rate should correspond to the <code>MUSICA name</code> property of an <a href="/mechanism/reactions">emission reaction</a> present in the mechanism. The units are assumed to be mol m-3 s-1. The rate for an emissions reaction with <code>MUSICA name</code> "C>5 alkenes" should be labelled:</p>
                              <p class="text-center"><code>EMIS.C>5 alkenes</code></p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="loss-format">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-loss-format" aria-expanded="true" aria-controls="collapse-loss-format">
                              <code>LOSS</code>: First-order loss of a chemical species [s-1]
                            </button>
                          </h2>
                          <div id="collapse-loss-format" class="accordion-collapse collapse" aria-labelledby="loss-format" data-bs-parent="#accordion-formats">
                            <div class="accordion-body">
                              <p>The <code>Property Name</code> for a first-order-loss rate constant for a chemical species should correspond to the <code>MUSICA name</code> property of a <a href="/mechanism/reactions">loss reaction</a> present in the mechanism. The units are assumed to be s-1. The rate constant for a first-order loss reaction with <code>MUSICA name</code> "total monoterpenes" should be labelled:</p>
                              <p class="text-center"><code>LOSS.total monoterpenes</code></p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="photolysis-format">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-photolysis-format" aria-expanded="true" aria-controls="collapse-photolysis-format">
                              <code>PHOT</code>: Photolysis of a chemical species [s-1]
                            </button>
                          </h2>
                          <div id="collapse-photolysis-format" class="accordion-collapse collapse" aria-labelledby="photolysis-format" data-bs-parent="#accordion-formats">
                            <div class="accordion-body">
                              <p>The <code>Property Name</code> for a photolysis rate constant for a chemical species should correspond to the <code>MUSICA name</code> property of a <a href="/mechanism/reactions">photolysis reaction</a> present in the mechanism. The units are assumed to be s-1. The rate constant for a photolysis reaction with <code>MUSICA name</code> "C>3 aldehydes" should be labelled:</p>
                              <p class="text-center"><code>PHOT.C>3 aldehydes</code></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% if filedict %}
{% for key, value in filedict %}
  <div class="row m-2">
    <div class="col">
      <div class="card-header">
        <h4 class="my-0">{{ key }}</h4>
      </div>
      <div class="card card-body m-2">
        <form class="linear-combination-form" method="get" action="/conditions/evolving-linear-combination">
          <input type="hidden" name="filename" value="{{ key }}">
          <ul class="list-group">
            {% for i in value %}
              {% if "CONC" in i %}
                <li fileName="{{ key }}_collapse" class="list-group-item linear-combo-conc"><input name="{{ i }}" addButton="{{ key }}" class="form-check-input linear-combo-check mx-2" type="checkbox" value="" id="{{i}}"><label for="{{ i }}">{{ i }}</label></li>
              {% endif %}
              {% if "CONC" not in i %}
                <li class="list-group-item">{{i}}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="collapse" id="{{key}}_collapse">
            <div class="input-group my-2">
              <span class="input-group-text">Scale factor:</span>
              <input id="scaleFactorForm" value="1" class="form-control" type="text" name="scale_factor">
            </div>
          </div>  
          <button type="submit" id="{{key}}" class="btn btn-secondary my-2 submit-linear-combination">Add linear combination</button>
        </form>
        <div class="linear-combination-display">
          {% if linearcombinations %}
            {% if key in linearcombinations %}
              Current linear combination:
              <ul class=list-group>
                {% for k, v in linearcombinations.items %}
                  {% if k == key %}
                    {% for s in v %}
                      <li class="list-group-item">{{ s }}</li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
              <form method="get" action="remove-linear-combination">
              <input type="hidden" name="name" value="{{ key }}">
              <button type="submit" class="btn btn-secondary">Remove</button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
{% endfor %}
{% endif %}
   <button class="row btn btn-secondary m-2" id="clearEvolvFiles">Clear configuration files</button>
</div>
<script src="/static/js/evolving_conditions.js"></script>
{% endblock %}



