{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center">
  <div class="navbox pt-2">
    <a class="btn btn-primary btn-ncar-active" href="/conditions/options">Model options</a>
    <a class="btn btn-secondary" href="/conditions/initial">Initial</a>
    <a class="btn btn-secondary" href="/conditions/evolving">Evolving</a>
    <a class="btn btn-secondary" href="/conditions/review">Review</a>
  </div>
</div>
<p class="lead-muted p-2">
  Add paragraph describing this section.
</p>

     <div class="configbox">
         <div class="configform">
            <div class="optiontitle"><h3>Upload JSON Configuration File<h3></div>
             <form enctype="multipart/form-data" method="POST" action="config_json">
                 {% csrf_token %}
                 {% for field in file_form %}
                    {{ field }}
                 {% endfor %}
                 <button id="jsonConfigSave" class="btn btn-secondary" type="submit">Upload JSON</button>
             </form>
             <hr class=solid>
             <form method="post" action="/conditions/options">
                 {% csrf_token %}
                 {{ form|crispy }}
                 <button id="optionsSave" class="btn btn-secondary" type="submit">Save</button>
             </form>
            
            <div id="logtoggle">
                    <h3 id="logtogtitle">Model Run Logging</h3>
                    <label class="switch">
                        <input id="islogon" type="checkbox">
                            <span class="slider round"></span>
                    </label>
            </div>
         </div>
     </div>



{% endblock %}



