{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center">
  <div class="navbox pt-2">
    <a class="btn btn-secondary" href="/conditions/options">Model options</a>
    <a class="btn btn-secondary" href="/conditions/species">Species</a>
    <a class="btn btn-secondary" href="/conditions/initial">Initial</a>
    <a class="btn btn-secondary" href="/conditions/evolving">Evolving</a>
    <a class="btn btn-primary btn-ncar-active" href="/conditions/photolysis">Photolysis</a>
    <a class="btn btn-secondary" href="/conditions/review">Review</a>
  </div>
</div>
<p class="lead-muted p-2">
  Add paragraph describing this section.
</p>

<div class="configbox">
    <h3>Upload Photolysis Rate File (NetCDF)):</h3>
          <form method="POST" action="photo-ncf" enctype="multipart/form-data">
            {% csrf_token %}
            {{ csv_field }}
            <button type="submit">Upload</button>
         </form>

    {% if isUploaded %}
        <div id="photo_file_panel">
            <div id="isFileUploaded"><h3>Photolysis Rate File Uploaded</h3></div>
            <div id='simstartinfo'>
                {% if simstart %}
                    <h3>Simulation start time:</h3>
                    <table>
                    {% for key,value in simstart.items %}
                        <tr>
                            <td><h4>{{ key }}:</h4></td><td><h4>{{ value }}</h4></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    {% endif %}



         <div class="specform">
            <h3 class="columnhead">Configure Photolysis Reactions:</h3>
            <form class="col1" method='POST'>
                <table>
                    <tr>
                        <th>Reaction</th>
                        <th>Initial Value</th>
                    </tr>
                    {% for field in form %}
                       {% if 'r_form' in field.name %}
                           <tr>
                               <td>
                                   {% csrf_token %}
                                   {{ field }}
                               </td>
                       {% endif %}

                       {% if 'init' in field.name %}
                            <td>
                                {% csrf_token %}
                                {{ field }}
                            </td>
                           </tr>
                       {% endif %}
                    {% endfor %}
                </table>
                <button type="submit" >Save</button>
            </form>
        </div>
    
            <button id="newPhoto" type="submit">Add New Reaction</button>
           
       </div>
</div>



{% endblock %}



