**/__pycache__/
**/*.pyc
**/*.DS_Store
interactive/dashboard/static/zip/config_copy/*
interactive/dashboard/static/zip/output/*
interactive/dashboard/static/zip/unzipped/*
interactive/dashboard/static/zip/uploaded/*
!interactive/dashboard/static/zip/config_copy/README
!interactive/dashboard/static/zip/output/README
!interactive/dashboard/static/zip/unzipped/README
!interactive/dashboard/static/zip/uploaded/README
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/python
venv/bin/python3
venv/bin/python3.7
venv/pyvenv.cfg
.idea/misc.xml
.idea/modules.xml
.idea/music-box-interactive.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode
interactive/db.sqlite3
poetry.lock
interactive/api/migrations/*
