body {
    background-image: linear-gradient(#2E6492, #234c70);

}

.header {
    height:80px;
    width:240px;
    position: fixed;
    z-index:10;
    top:0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    font-family: 'Cabin';
    font-size: 42px;
    font-weight: bold;
}

.version{
    font-family: 'Cabin';
    font-size: 18;
    color: #ffffff;
    position: fixed;
    z-index:10;
    top:35;
    left:185;

}


.sidenav {
    height:100%;
    width:250px;
    position: fixed;
    z-index:11;
    top:80;
    left:0;
    background-color:#303030;
    overflow-x: hidden;
    padding-top:20px;
}
.sidenav a {
    padding:6px 8px 20px;
    text-decoration: none;
    font-family: 'Cabin';
    font-size:25px;
    color: #ffffff;
    display:block;
    transition-duration: 0.3s;
}

.runlink {
    color: black;
    padding: 0px 20px;

}

.sidenav .current{
    margin-left: 30px;
}

.sidenav a:hover{
    color: #bfbfbf;
    margin-left: 30px;
}

.sidenav:hover > .current{
    margin-left: 0px;
}

.sidenav .current:hover{
    margin-left: 30px;
}


.navbar {
    font-family: 'Cabin';
    font-size:18px;
    position: fixed;
    z-index:1;
    padding: 0px 0px 0px;
    top:25;
    left:30%;
    transition: top 0.3s;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding:6px 8px 6px;
    border: 3px solid #2d6290;
}

.navbar a:hover{
    color: #bfbfbf;
    border: 3px solid #bfbfbf;
}
.navbar .selection{
    border: 3px solid white;
}

.sidenav img {
    top: 800;
    width: 240px;
    background-color: white;
    padding: 5px 5px;
}

.configbox .configform {
    display: inline-block;
    width: 20%;
    z-index: 100;
    color: black;
    font-family: 'Cabin';
    font-size: 18px;
    padding: 0px 0px;
}

.configbox .specform {
    display: inline-block;
    color: black;
    font-family: 'Cabin';
}

h3 {
    color: black;
    font-size: 18px;
    font-family: 'Cabin'
}

.configbox .configform control-group{
    padding: 20px;
}

input {
    padding: 12px 20px;
    color: black;
    font-family: 'Cabin';
    font-size: 16px;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.confighead {
    font-family: 'Cabin';
    color: white;
    font-size: 24px;
    position: fixed;
    text-decoration: underline;
    z-index:1;
    top:75;
    left:50%;
}


.configbox{
    margin-left: 270px;
    margin-top: 115px;
}

button {
    font-family: 'Cabin';
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #303030;
    border-radius: 3px;
    border: 2px solid #303030;;
}
button:hover {
    background: white;
    font-size: 16px;
    border: 2px solid #303030;
    border-radius: 3px;
    color: #303030;
}

#run {
    background: white;
    color: black;
    margin-top: 60px;
    margin-bottom: 60px;

}

#run:hover {
    background: #c4c4c4;
    color: black;
}

select {
    font-family: 'Cabin';
    font-size: 16px;
    background: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
}

.footer {
    font-family: 'Cabin';
    font-size:12px;
    position: relative;
    z-index:1;
    bottom: 10;
    left:30%;

}

.footer a {
    padding:6px 8px 6px;
    text-decoration: none;
    color: white;

}

.mechnav {
    font-family: 'Cabin';
    font-size:18px;
    position: fixed;
    z-index:1;

    top:25;
    left:47%;
}

.mechnav a {
    text-decoration: none;
    color: white;
    padding:6px 8px 6px;
    border: 3px solid #2d6290;
}

.mechnav a:hover{
    color: #bfbfbf;
    border: 3px solid #bfbfbf;
}

.mechnav .selection{
    border: 3px solid white;
}

.navbox {
    background-color: #2d6290;
    top: -0;
    width: 100%;
    height: 80px;
    z-index: 1;
    position: fixed;
}

.plothead {
    margin-left: 50%;
    z-index: 20;
    font-size: 30px;
    color: white;
    font-family: 'Cabin';
    text-decoration: underline;
}

#plotbar {
    margin-left: 260px;
    margin-top: 90px;
    font-family: 'Cabin';
    z-index: 10;
    width: min-content;
}

#plotbar a:hover{
    text-decoration: underline;
}

#plotbar button{
    width: 150;
}

.plotnav {
    font-family: 'Cabin';
    font-size:18px;
    position: fixed;
    z-index:1;
    padding: 0px 0px 0px;
    top:25;
    left:20%;
    transition: top 0.3s;
    display: inline-block;
}

.plotnav a {
    text-decoration: none;
    color: white;
    padding:6px 8px 6px;
    border: 3px solid #2d6290;
}

.plotnav a:hover{
    color: #bfbfbf;
    border: 3px solid #bfbfbf;
}
.plotnav .selection{
    border: 3px solid white;
}

#reviewbox{
    font-size: 16px;
    font-family: 'Cabin';
}

#plot{
    display: inline-flex;
    margin-left: 50px;
    margin-top: 100px;
}

#sidemenu{
    margin-left: 250;
    margin-top: 120;
    list-style: none;
}

#sidemenu li{
    width: fit-content;
}

#sidemenu li button{
    width: 100;
}

#molec_detail {
    display: inline-block;
    margin-left: 60;
    margin-top: 80;
    width: 250;
}

#molecule_content {
    display: flex;
}

h2 {
    font-family: 'Cabin';
    font-size: 30;
    text-decoration: underline;
}

#equation_box {
    display: inline-block;
    margin-top: 120;
    margin-left: 80;
    list-style: none;
}

#reaction_content {
    display: flex;
}


#react_detail {
    display: inline-block;
    margin-left: 60;
    margin-top: 80;
    width: 250;
}

#plots_content{
    display: flex;
}