body {
    background-color: #2E6492;

}

.header {
    height:80px;
    width:240px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: black;
    overflow-x: :hidden;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    font-family: 'Cabin';
    font-size: 42px;
    font-weight: bold;
}

.version{
    font-family: 'Cabin';
    font-size: 18;
    color: #ffffff;
    position: fixed;
    z-index:1;
    top:35;
    left:185;

}


.sidenav {
    height:100%;
    width:250px;
    position: fixed;
    z-index:1;
    top:80;
    left:0;
    background-color:#303030;
    overflow-x: :hidden;
    padding-top:20px;
}
.sidenav a {
    padding:6px 8px 20px;
    text-decoration: none;
    font-family: 'Cabin';
    font-size:25px;
    color: #ffffff;
    display:block;
}
.sidenav a:hover{
    color: #bfbfbf
}

.runlink {
    background-color: white;
}

.navbar {
    font-family: 'Cabin';
    font-size:18px;
    position: fixed;
    z-index:1;
    top:25;
    left:30%;
}

.navbar > .main {
    text-decoration: none;
    color: #ffffff;
    padding:6px 8px 20px;

}

.navbar > .main:hover{
    color: #bfbfbf
}

.navbar > .runlink {
    font-size: 30px;
}


.config_form {
    border: 2px solid white;
    border-radius: 4px;
    background-color: ;
}


.confighead {
    font-family: 'Cabin';
    color: white;
    font-size: 24px;
    position: fixed;
    text-decoration: underline;
    z-index:1;
    top:75;
    left:50%;
}





