{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="navbox">
      <div class="mechnav">
         <a href="/mechanism/reactions">Reactions</a>
         <a class="selection" href="/mechanism/molecules">Molecules</a>
      </div>
   </div>
     
     <div id=molecule_content>
      <div id="sidemenu" mech_section='molecule'>
         <li><button id='newmolecule'>New</button></li>
         {% for molecule in molecs %}
            <li>
               <button class="mechanism_item" id="{{molecule}}">
                  {{ molecule }}
               </button>
            </li>
         {% endfor %}
      </div>
      <div id="molec_detail"
         {% if messages %}
            {% for message in messages %}
               save="{{ message }}"
            {% endfor %}
         {% endif %}>
         <h3><div id='message_box'>Select a molecule from the left to view, or <a>add a new molecule to the mechansim</a></div></h3></div>
      <div id="equation_box"></div>
     </div>
          


{% endblock %}


