{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="mechnav">
        <a href="/mechanism/reactions">Reactions</a>
        <a class="selection" href="/mechanism/molecules">Molecules</a>
     </div>

     <div class=confighead>Molecules</div>

     <div id=molecule_content>
      <div id="sidemenu" mech_section='molecule'>
         {% for molecule in molecs %}
            <li>
               <button class="mechanism_item" id="{{molecule}}">
                  {{ molecule }}
               </button>
            </li>
         {% endfor %}
      </div>
      <div id="molec_detail"></div>
     </div>
          


{% endblock %}


