{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="navbox">
      <div class="mechnav">
         <a class="selection" href="/mechanism/reactions">Reactions</a>
         <a href="/mechanism/molecules">Molecules</a>
      </div>
   </div>

   <div id=reaction_content>
      <div id="sidemenu" mech_section='reaction'>
         <li><button><a id="download_mech_button" href='download_mech'>Download JSON</a></button></li>
         {% for field in searchForm %}
         <form method="GET" action="searchR">
            <li>{{ field }}</li>
            <li><button type="submit">Search</button></li>
         </form>
         {% endfor %}
         <li><button id='new_reaction'>New</button></li>
         {% for reaction in shortnames %}
            <li>
               <button class="mechanism_reaction" id="{{ reaction.0 }}" reaction="{{ reaction.0 }}">
                  {{ reaction.1 }}
               </button>
            </li>
         {% endfor %}
      </div>
      <div id="react_detail"
         {% if messages %}
            {% for message in messages %}
               {% if message.tags == 'error'%}
                  error="{{ message }}"
               {% endif %}
               {% if message.tags == 'success' %}
                  save="{{ message }}"
               {% endif %}
            {% endfor %}
         {% endif %}>
         <h3><div id="message_box">Select a reaction from the left to view, search for a reaction, or add a new reaction to the mechanism</div></h3></div>
      <div id="equation_box"></div>
     </div>

{% endblock %}


