{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="navbox">
      <div class="mechnav">
         <a class="selection" href="/mechanism/species">Chemical Species</a>
         <a href="/mechanism/reactions">Reactions</a>
      </div>
   </div>
     <div id=species_content>
      <div id="sidemenu" mech_section='species'>
         {% for field in searchForm %}
         <form method="GET" action='searchM'>
            <li>{{ field }}</li>
            <li><button type="submit">Search</button></li>
         </form>
         {% endfor %}
         <li><button id='newspecies'>New</button></li>
         {% for species in shortnames %}
            <li>
               <button class="mechanism_item" id="{{species.0}}">
                  {{ species.1 }}
               </button>
            </li>
         {% endfor %}
      </div>
      <div id="species_detail"
         {% if messages %}
            {% for message in messages %}
               {% if message.tags == 'error'%}
                  error="{{ message }}"
               {% endif %}
               {% if message.tags == 'success' %}
                  save="{{ message }}"
               {% endif %}
            {% endfor %}
         {% endif %}>
         <h3><div id='message_box'>Select a chemical species from the list to view/edit its properties, search for a chemical species by name, or <a>add a new chemical species to the mechansim</a></div></h3></div>
      <div id="equation_box"></div>
     </div>
{% endblock %}


